$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4bbf73;
$cyan: #1f9bcf;
$gray: #919aa1;
$primary: #1a1a1a;
$white: #fff;
$lighter: #eee;
$light: #dedede;
$dark: #343a40;

// Media queries
$small: 500px;
$medium: 768px;

// Margin & Padding
$space-sm: 5px;
$space: 10px;
$space-lg: 20px;

// Border
$border: 2px solid $dark;
